.picsum-img-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}

/* Resize images */
.picsum-img-wrapper img {    
    width: 100%;
    height: auto;
}